

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    cursor: url(mole-game/cursor.png),default;
    background-color: #c0c86d;
    display: flex;
    height: 100vh;

}

.bg{
    margin: auto;
    padding-top: 2vh 0 2vh 0;

    background-image: url(mole-game/background.png);
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;


}

.hole{
    background-color: black;
    border-radius: 50%;
    overflow: visible;
    width: 13vw;
    height: 27vh;
}

.hole-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mole{
    width: 17vw;
    height: 27vh;
    position: relative;
    right: 2vw;
}

.hungry{
    cursor: url(mole-game/cursor-worm.png),default;
}

.gone{
    display: none;
}

.win{
    margin: auto;
    height: 80vh;
}

.worm{
    margin-top: 2vh;
    height: 10vh;
    width: 90vw;

}

.worm-container{
    width: 1%;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.worm-box{
    width: 90vw;
}







